<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiannei.duxin.dao.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiannei.duxin.entity.Customer">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="birth_date" property="birthDate"/>
        <result column="mobile" property="mobile"/>
        <result column="telephone" property="telephone"/>
        <result column="password" property="password"/>
        <result column="address" property="address"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="add" parameterType="com.jiannei.duxin.entity.Customer" keyProperty="id" useGeneratedKeys="true"
            keyColumn="id">
        insert into customer(
        name ,
        gender ,
        birth_date ,
        mobile ,
        telephone ,
        password ,
        address ,
        created_at ,
        updated_at ) values(
        #{name}
        ,
        #{gender}
        ,
        #{birthDate}
        ,
        #{mobile}
        ,
        #{telephone}
        ,
        #{password}
        ,
        #{address}
        ,
        now()
        ,
        now()
        )
    </insert>
    <update id="update" parameterType="com.jiannei.duxin.entity.Customer" keyProperty="id" useGeneratedKeys="true"
            keyColumn="id">
        update customer set
        <if test="name != null and name != '' ">
            name = #{name} ,
        </if>
        <if test="gender != null and gender != '' ">
            gender = #{gender} ,
        </if>
        <if test="birthDate != null and birthDate != '' ">
            birth_date = #{birthDate} ,
        </if>
        <if test="mobile != null and mobile != '' ">
            mobile = #{mobile} ,
        </if>
        <if test="telephone != null and telephone != '' ">
            telephone = #{telephone} ,
        </if>
        <if test="password != null and password != '' ">
            password = #{password} ,
        </if>
        <if test="address != null and address != '' ">
            address = #{address} ,
        </if>
        updated_at = now() where id = #{id}
    </update>
    <update id="updatePasswd" parameterType="com.jiannei.duxin.entity.Customer" keyProperty="id" useGeneratedKeys="true"
            keyColumn="id">
        update customer set password = #{password} ,updated_at = now() where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from customer where id = #{id}
    </delete>
    <select id="selectById" resultMap="BaseResultMap">
        select * from customer where id = #{id}
    </select>
    <select id="selectAllByPage" resultMap="BaseResultMap" parameterType="hashmap">
        select * from customer where 1=1
        <if test="name != null and name != '' ">
            AND name LIKE #{name}
        </if>
        <if test="gender != null and gender != '' ">
            AND gender LIKE #{gender}
        </if>
        <if test="birthDate != null and birthDate != '' ">
            AND birth_date LIKE #{birthDate}
        </if>
        <if test="mobile != null and mobile != '' ">
            AND mobile LIKE #{mobile}
        </if>
        <if test="telephone != null and telephone != '' ">
            AND telephone LIKE #{telephone}
        </if>
        <if test="password != null and password != '' ">
            AND password LIKE #{password}
        </if>
        <if test="address != null and address != '' ">
            AND address LIKE #{address}
        </if>
        <if test="createdAt != null and createdAt != '' ">
            AND created_at LIKE #{createdAt}
        </if>
        <if test="updatedAt != null and updatedAt != '' ">
            AND updated_at LIKE #{updatedAt}
        </if>
        limit #{pageNo}, #{pageSize}
    </select>
    <select id="selectAllBySize" resultType="java.lang.Integer" parameterType="hashmap">
        select count(id) from customer where 1=1
        <if test="name != null and name != '' ">
            AND name LIKE #{name}
        </if>
        <if test="gender != null and gender != '' ">
            AND gender LIKE #{gender}
        </if>
        <if test="birthDate != null and birthDate != '' ">
            AND birth_date LIKE #{birthDate}
        </if>
        <if test="mobile != null and mobile != '' ">
            AND mobile LIKE #{mobile}
        </if>
        <if test="telephone != null and telephone != '' ">
            AND telephone LIKE #{telephone}
        </if>
        <if test="password != null and password != '' ">
            AND password LIKE #{password}
        </if>
        <if test="address != null and address != '' ">
            AND address LIKE #{address}
        </if>
        <if test="createdAt != null and createdAt != '' ">
            AND created_at LIKE #{createdAt}
        </if>
        <if test="updatedAt != null and updatedAt != '' ">
            AND updated_at LIKE #{updatedAt}
        </if>
    </select>
    <select id="selectUserByToken" resultMap="BaseResultMap">
        select u.* FROM customer u,user_token ut where u.id = ut.user_id and access_token = #{token} and ut.user_type = 4
    </select>
    <select id="selectByMobile" resultMap="BaseResultMap">
        select * from customer where mobile = #{mobile}
    </select>

</mapper>
