<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiannei.duxin.dao.WorkerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiannei.duxin.entity.Worker">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="birth_date" property="birthDate"/>
        <result column="mobile" property="mobile"/>
        <result column="native_place" property="nativePlace"/>
        <result column="dealer_id" property="dealerId"/>
        <result column="work_type" property="workType"/>
        <result column="locked" property="locked"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="add" parameterType="com.jiannei.duxin.entity.Worker" keyProperty="id">
        insert into worker(
        name ,
        username ,
        password ,
        gender ,
        birth_date ,
        mobile ,
        native_place ,
        dealer_id ,
        work_type ,
        locked ,
        created_at ,
        updated_at ) values(
        #{name}
        ,
        #{username}
        ,
        #{password}
        ,
        #{gender}
        ,
        #{birthDate}
        ,
        #{mobile}
        ,
        #{nativePlace}
        ,
        #{dealerId}
        ,
        #{workType}
        ,
        #{locked}
        ,
        now()
        ,
        now()
        )
    </insert>
    <update id="update" parameterType="com.jiannei.duxin.entity.Worker" keyProperty="id">
        update worker set
        <if test="name != null and name != '' ">
            name = #{name} ,
        </if>
        <if test="username != null and username != '' ">
            username = #{username} ,
        </if>
        <if test="password != null and password != '' ">
            password = #{password} ,
        </if>
        <if test="gender != null and gender != '' ">
            gender = #{gender} ,
        </if>
        <if test="birthDate != null and birthDate != '' ">
            birth_date = #{birthDate} ,
        </if>
        <if test="mobile != null and mobile != '' ">
            mobile = #{mobile} ,
        </if>
        <if test="nativePlace != null and nativePlace != '' ">
            native_place = #{nativePlace} ,
        </if>
        <if test="dealerId != null and dealerId != '' ">
            dealer_id = #{dealerId} ,
        </if>
        <if test="workType != null and workType != '' ">
            work_type = #{workType} ,
        </if>
        <if test="locked != null and locked != '' ">
            locked = #{locked} ,
        </if>
        updated_at = now() where id = #{id}
    </update>
    <update id="updateLocked"  parameterType="com.jiannei.duxin.entity.Worker" keyProperty="id" useGeneratedKeys="true"
            keyColumn="id">
        update worker set locked = #{locked} ,updated_at = now() where id = #{id}
    </update>
    <update id="updatePasswd"  parameterType="com.jiannei.duxin.entity.Worker" keyProperty="id" useGeneratedKeys="true"
            keyColumn="id">
        update worker set password = #{password} ,updated_at = now() where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from worker where id = #{id}
    </delete>
    <select id="selectById" resultMap="BaseResultMap">
        select * from worker where id = #{id}
    </select>
    <select id="selectAllByPage" resultMap="BaseResultMap" parameterType="hashmap">
        select * from worker where 1=1
        <if test="name != null and name != '' ">
            AND name LIKE #{name}
        </if>
        <if test="username != null and username != '' ">
            AND username LIKE #{username}
        </if>
        <if test="password != null and password != '' ">
            AND password LIKE #{password}
        </if>
        <if test="gender != null and gender != '' ">
            AND gender LIKE #{gender}
        </if>
        <if test="birthDate != null and birthDate != '' ">
            AND birth_date LIKE #{birthDate}
        </if>
        <if test="mobile != null and mobile != '' ">
            AND mobile LIKE #{mobile}
        </if>
        <if test="nativePlace != null and nativePlace != '' ">
            AND native_place LIKE #{nativePlace}
        </if>
        <if test="dealerId != null and dealerId != '' ">
            AND dealer_id LIKE #{dealerId}
        </if>
        <if test="workType != null and workType != '' ">
            AND work_type LIKE #{workType}
        </if>
        <if test="locked != null and locked != '' ">
            AND locked LIKE #{locked}
        </if>
        <if test="createdAt != null and createdAt != '' ">
            AND created_at LIKE #{createdAt}
        </if>
        <if test="updatedAt != null and updatedAt != '' ">
            AND updated_at LIKE #{updatedAt}
        </if>
        limit #{pageNo}, #{pageSize}
    </select>
    <select id="selectAllBySize" resultType="java.lang.Integer" parameterType="hashmap">
        select count(id) from worker where 1=1
        <if test="name != null and name != '' ">
            AND name LIKE #{name}
        </if>
        <if test="username != null and username != '' ">
            AND username LIKE #{username}
        </if>
        <if test="password != null and password != '' ">
            AND password LIKE #{password}
        </if>
        <if test="gender != null and gender != '' ">
            AND gender LIKE #{gender}
        </if>
        <if test="birthDate != null and birthDate != '' ">
            AND birth_date LIKE #{birthDate}
        </if>
        <if test="mobile != null and mobile != '' ">
            AND mobile LIKE #{mobile}
        </if>
        <if test="nativePlace != null and nativePlace != '' ">
            AND native_place LIKE #{nativePlace}
        </if>
        <if test="dealerId != null and dealerId != '' ">
            AND dealer_id LIKE #{dealerId}
        </if>
        <if test="workType != null and workType != '' ">
            AND work_type LIKE #{workType}
        </if>
        <if test="locked != null and locked != '' ">
            AND locked LIKE #{locked}
        </if>
        <if test="createdAt != null and createdAt != '' ">
            AND created_at LIKE #{createdAt}
        </if>
        <if test="updatedAt != null and updatedAt != '' ">
            AND updated_at LIKE #{updatedAt}
        </if>
    </select>
    <select id="selectByUsername" resultMap="BaseResultMap">
        select * from worker where username = #{username}
    </select>
    <select id="selectUserByToken"  resultMap="BaseResultMap">
        select u.* FROM worker u,user_token ut where u.id = ut.user_id and access_token = #{token} and ut.user_type = 3
    </select>

</mapper>
